// app global css in SCSS form



.userInfo{
    border-width: 2px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(145, 145, 145);
    //background-color: red;
    margin-top: 35px;
    padding: 25px;
    
}
//Paddin para painel
.paddingPanel{
    padding-left: 30px;
    padding-right: 30px;
}

//Redimensionando imgs 
.tamanhoIconViagem{
    width: 15px;
}





//Head menu
.menuTop{
    background-color: rebeccapurple;
    height: 50px;
}




//Footer Menu
//Dive pai responsável pela área
.footer{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-top-color: rgb(180, 180, 180);
    //background-color: rebeccapurple;
    height: 68px;

}
//Redimensionamente dos icons
.iconFooter{
    width: 28px;
}
.iconFooter2{
    width: 35px;
}